.section-height-color-best-medical {
  height: 800;
  background-color: #000A31;
  padding-bottom: 200px;

  #best-medical-and-healthcare {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
  
    .content {
      width: 1100px;
      display: flex;
  
      .descroption {
        width: 550px;

        .topic {
          font-size: 18px;
          font-weight: 500;
          color: #00E5CC;
          margin-bottom: 1rem;
        }

        .bt-started {
          text-decoration: none;
          color: #FFFFFF;
          background-color: #00E5CC;
          padding: 18px 32px;
          border-radius: 50px;
        }
      }

      .descroption h2 {
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 600;
        line-height: 3rem;
        margin-bottom: 1rem;
      }

      .descroption p {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5rem;
        margin-bottom: 4rem;
        width: 500px;
      }
  
      .card-content {
        width: 550px;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .card {
          background-color: #FFFFFF;
          width: 200px;
          padding: 28px;
          text-align: left;
          background-color: #FFFFFF;
          border-style: solid;
          border-width: 1px;
          border-color: #434D75;
          border-radius: 5px;

          .topic {
            width: 170px;
            color: #000A31;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.4rem;
          }

          .topic-color {
            color: #FFFFFF;
          }
        }

        .card-bg-color-blue {
          background-color: #000A31;
        }

        .card-bg-color-green {
          background-color: #00E5CC;
        }

        .card img {
          width: 45px;
          margin-bottom: 1rem;
        }

      }
    }
  }
}