footer {
  position: relative;
  height: 500px;
  background-color: #000B29;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;

  .ft-wrapper {
    position: relative;
    width: 1100px;
    top: 80px;

    .ft-contact {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 70px;

      .ft-description {
        width: 350px;

        .logo {
          width: 235px;
          margin-bottom: 2.5rem;
        }

        .logo img {
          width: 100%;
          position: relative;
        }

        .description {
          color: #848E9F;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5rem;
          margin-bottom: 2.5rem;
        }

        .icon {
          display: flex;
          gap: 1rem;
        }

        .icon a {
          width: 40px;
        }

        .icon img {
          width: 100%;
          position: relative;
        }
      }

      .contact-details {
        color: #fff;
        width: 290px;

        .topic {
          font-size: 18px;
          font-weight: 600;
        }

        .line {
          border-bottom: 2px solid #00E5CC;
          width: 30%;
          margin: 2rem 0;
        }

        .list-contact li {
          display: flex;
          align-items: center;
          margin-bottom: 13px;

          .icon {
            width: 15px;
            margin-right: 1rem;
          }

          .icon img {
            width: 100%;
            position: relative;
          }

          .details {
            line-height: 20px;
            width: 200px;
          }
        }

        .list-contact li:last-child {
          margin-bottom: 0;
        }
      }

      .other-pages {
        color: #fff;
        width: 180px;

        .topic {
          font-size: 18px;
          font-weight: 600;
        }

        .line {
          border-bottom: 2px solid #00E5CC;
          width: 30%;
          margin: 2rem 0;
        }

        .list-page img {
          width: 10px;
          margin-right: 1rem;
        }
      }

      .make-appointment {
        color: #fff;
        width: 250px;

        .topic {
          font-size: 18px;
          font-weight: 600;
        }

        .line {
          border-bottom: 2px solid #00E5CC;
          width: 30%;
          margin: 2rem 0;
        }

        .contact-number {
          display: flex;
          background-color: #000E45;
          padding: 20px;
          border-radius: 5px;
          justify-content: center;
          margin-bottom: 3rem;

          .image {
            width: 30px;
            background-color: #00E5CC;
            padding: 10px;
            border-radius: 5px;
            margin-right: 1rem;
          }

          .image img {
            width: 100%;
            position: relative;
          }
          
          .call-us {
            display: grid;
            align-items: center;
          }

          .topic {
            font-size: 18px;
            font-weight: 600;
          }

          .number {
            color: #A4AEBE;
            font-size: 16px;
            font-weight: 400;
          }
        }

        .description {
          font-size: 16px;
          font-weight: 300;
          color: #848E9F;
          line-height: 1.5rem;
        }
      }
    }

    .credit {
      display: flex;
      color: #848E9F;
      justify-content: space-between;
      align-items: last baseline;
      height: 40px;
      border-top: 2px solid #232a33;
      font-size: 14px;
      font-weight: 400;
    }
  }
}