.section-height-how-we-work {
  height: 870px;

  #how-we-work {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
  
      .content {
        width: 1100px;
        display: flex;
  
        .description {
          width: 550px;
          padding-right: 10px;
          display: flex;
          flex-direction: column;
  
          .topic {
            font-size: 18px;
            font-weight: 500;
            color: #00E5CC;
            margin-bottom: 1rem;
          }
  
          .procedures-for-treatment {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;
            position: relative;
  
            .box-step {
              display: flex;
              height: max-content;
              z-index: 2;
  
              .icon {
                background-color: #00E5CC;
                padding: 15px;
                border-radius: 5px;
                height: 40px;
                width: 40px;
                margin-top: 11px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
  
              .icon img {
                width: 35px;
                padding: 0;
              }
  
              .description-procedures {
                display: flex;
                flex-direction: column;
                width: 400px;
                margin-left: 1rem;
              }
  
              .description-procedures h3 {
                font-size: 20px;
                font-weight: 600;
                color: #000E44;
                margin-bottom: 5px;
              }
            }
          }

          .procedures-for-treatment::before {
            content: "";
            border: 2px solid #BEFFF8;
            position: absolute;
            top: 12px;
            bottom: 10px;
            left: 33px;
            z-index: 1;
          }
        }
  
        .description h2 {
          font-size: 32px;
          font-weight: 600;
          line-height: 2.3rem;
          color: #000E44;
          margin-bottom: 1rem;
        }
  
        .description p {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.4rem;
          color: #848E9F;
        }
  
        .image {
          width: 550px;

          .group-doctors {
            text-align: right;
          }

          .group-doctors img {
            width: 82%;
            border-radius: 5px 5px 5px 5px;
            box-shadow: -55px 20px 0px 1px rgba(0, 229, 204.00000000000006, 0.17);
          }

          .team-doctors img {
            width: 52%;
            border-style: solid;
            border-width: 15px 15px 0px 0px;
            border-color: #FFFFFF;
            border-radius: 0px 5px 0px 5px;
            margin-top: -165px;
            margin-left: -10;
          }
        }
      }
  }
}