.home-page {
  font-family: 'Inter', sans-serif;
  background-color: #fefefe;
  display: grid;
  justify-content: center;
  align-items: center;
}

header {
  max-width: 1170px;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 12rem;
  border-bottom: 2px solid #dddd;
  
  .logo img {
    width: 200px;    
  }

  .content-right {
    display: flex;
    align-items: center;
    gap: 2rem;

    .contact-box {
      display: flex;
      gap: 12px;
      height: 50px;
      align-items: center;
      border-right: 2px solid #dddd;
      line-height: 1.5rem;
      padding-right: 2rem;

      .icon img {
        width: 30px;
      }

      .title-contact {
        font-weight: bold;
        color: #000E44;
      }

      .descroption-contact {
        color: #848E9F;
      }
    }

    .make-appoinment {
      text-decoration: none;
      color: #fff;
      background-color: #000E44;
      padding: 15px 25px;
      border-radius: 20px;
      font-size: 13px;
    }
  }
}

nav {
  max-width: 1170px;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 14rem;

  .box-menu {
    position: relative;
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  
  .contact-icon img {
    width: 35px;
  }
}

li {
  height: 40px;
  line-height: 40px;
}

ul li a {
  text-decoration: none;
  color: #000E44;
  font-weight: 600;
  display: block;
}

ul li a:hover {
  color: #00E5CC;
}

ul li ul li {
  display: none;
}

ul li:hover ul {
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  padding: 10px;
  border-style: solid;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.05);
}

ul li:hover ul li {
  display: block;
}
